---
const { product } = Astro.props;
---

<a
  href={`/details/${product.handle}`}
  class="Pcard"
  data-type={product.type}
  data-price={product.price}
>
  <article>
    <img src={product.img} alt={product.name} />

    <div class="card-content">
      <h3>{product.name}</h3>
      <h4>{product.percent}%</h4>
      <p class="price">kr. {product.price},-</p>
      <p class="market_price">kr. {product.market_price},-</p>
    </div>
    
  </article>
</a>

<style>
.Pcard {
  flex: 0 0 280px;
  display: block;
}

.Pcard article {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.Pcard img {
  width: 100%;
  height: px;
  object-fit: contain;
  display: block;
  margin-bottom: 1rem;
}

.nyheder-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .Pcard h3 {
    margin: 0 0 0.4rem 0;
  }

  .Pcard h4 {
    margin: 0 0 0.8rem 0;
    font-weight: 400;
  }

  .price {
    margin: 0;
    color: darkgreen;
  }

  .market_price {
    margin: 0.3rem 0 0 0;
    color: grey;
    text-decoration: line-through;
    font-family: "Zalando Sans Expanded", sans-serif;
  }

  .card-link {
    margin-top: 1rem;
    display: inline-block;
  }

  .hide {
    display: none;
  }

  @media (max-width: 600px) {
  
    .Pcard {
      flex: 0 0 240px;
    }

    .Pcard img {
      height: 180px !important; /* Fast højde på dåserne så de flugter */
    object-fit: contain;
    margin-bottom: 0.5rem;
    }
  }
</style>