---
import Button from "../components/Button.astro";
const { product } = Astro.props;
---

<section
  class="Pcard_wrap"
  data-type={product.type}
  data-brand={product.brand}
  data-box={product.box}
  data-price={product.price}
>
  <a
    href={`details/${product.handle}`}
    class="Pcard"
  >
    <article>
      <img src={product.img} alt="productimage" />
      <h3>{product.name}</h3>
      <h4>{product.percent}%</h4>
      <p class="price">kr. {product.price},-</p>
      <p class="market_price">kr. {product.market_price},-</p>
        <div class="card_btn">
    <Button text="VÆLG ANTAL" variant="vaelg-antal" />
  </div>
    </article>
 

  
</section>

<style>
  .Pcard_wrap {
    position: relative;
  }

  .Pcard {
    display: block;
    text-decoration: none;
   
  }

  article {
    padding: 1rem;
    
  }

  img {
    max-width: 100%;
    display: block;
  }

  .card_btn {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: -1.5rem;
    z-index: 2;
  
  }

  .price {
    color: darkgreen;
  }

  .market_price {
    color: grey;
    text-decoration: line-through;
    font-family: "Zalando Sans Expanded", sans-serif;
  }

  .hide {
    display: none;
  }

</style>