---
const { product } = Astro.props;
---

<a
  href={`details/${product.handle}`}
  class="Pcard"
  data-type={product.type}
  data-brand={product.brand}
  data-box={product.box}
  data-price={product.price}
>
  <article>
    <img src={product.img} alt="productimage" />
    <h3>{product.name}</h3>
    <h4>{product.percent}%</h4>
    <p class="price">kr. {product.price},-</p>
    <p class="market_price">kr. {product.market_price},-</p>
  </article>
</a>

<style>
  article {
    padding: 1rem;
  }

  img {
    max-width: 100%;
  }

  .price {
    color: darkgreen;
  }

  .market_price {
    color: grey;
    text-decoration: line-through;
    font-family: "Zalando Sans Expanded", sans-serif;
  }

  a {
    text-decoration: none;
  }

  .hide {
    display: none;
  }
</style>