---
//@ts-nocheck
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const endpoint = "https://tugawxiltrjylrrkyipn.supabase.co/rest/v1/products";
  const options = {
    headers: {
      apikey: "sb_publishable__6zAgnY-J0PumwueqpD5qA_eF8nRnHo",
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((product) => {
    return {
      params: { id: product.handle },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---

<Layout>
  <section class="details_grid">
    <section class="details_grid_2fr">
      <article>
        <div>
          <h1>{product.name}</h1>
          <h2>{product.percent}% {product.type}</h2>
          <p>Bedst før {product.best_before} ofte god efter</p>
        </div>
        <div class="details_price_section">
          <!-- Vi tilføjer 'price-option' og en 'is-active' som standard på den første -->
          <div class="price_box price-option is-active">
            <p class="details_stk">1 stk</p>
            <p class="details_price">{product.price} DKK/stk</p>
            <p class="details_market_price vejl">
              <span class="strikethrough">{product.market_price}</span> (vejl. markedspris)
            </p>
          </div>

          <div class="price_box2 price-option">
            <p class="details_stk">6 stk</p>
            <p class="details_price">
              {(product.price * 6).toFixed(2)} DKK Total
            </p>
            <p class="details_market_price vejl">
              {(product.price * 0.8).toFixed(2)} DKK/stk
            </p>
          </div>
        </div>

        <!--  <div class="details_price_section">
          <div class="price_box">
            <p class="details_stk">1 stk</p>
            <p class="details_price">{product.price}/stk</p>
            <p class="details_market_price">{product.market_price}</p>
          </div>
          <div class="price_box2">
            <p class="details_stk">6 stk</p>
            <p class="details_price">{product.price * 6}/stk</p>
            <p class="details_market_price">{product.market_price * 6}</p>
          </div> -->
        <div class="container">
          <div class="bliblop">
            <p>-</p>
            <p>1</p>
            <p>+</p>
          </div>
          <Button text="LÆG I KURV" variant="laeg-i-kurv" />
        </div>
      </article>
      <div class="info">
        <h3>Information:</h3>
        <p>{product.description}</p>
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="600"
        height="2"
        viewBox="0 0 619 2"
        fill="none"
      >
        <path
          d="M1 1H617.516"
          stroke="#F9F9F6"
          stroke-width="2"
          stroke-linecap="round"></path>
      </svg>
      <div class="colorfix">
        <p>COLOR</p>
        <svg
          width="230"
          height="30"
          viewBox="0 0 230 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="117" cy="14.7871" r="11" fill="#C37233"></circle>
          <circle cx="151" cy="14.7871" r="11" fill="#BE6B39"></circle>
          <circle cx="185" cy="14.7871" r="11" fill="#B56236"></circle>
          <circle cx="219" cy="14.7871" r="11" fill="#AA5A38"></circle>
          <circle cx="15.0005" cy="14.7871" r="11" fill="#D9BA32"></circle>
          <circle cx="49.0005" cy="14.7871" r="11" fill="#C79539"></circle>
          <circle cx="83.0005" cy="14.7871" r="11" fill="#C7953A"></circle>
          <circle cx="15" cy="15" r="13" stroke="#F9F9F6" stroke-width="4"
          ></circle>
        </svg>
      </div>
    </section>
    <section class="details_grid_1fr">
      <div class="drink_specs_div">
        <p class="drink_specs">UNTAPPD RATING: {product.rating}</p>
        <p class="drink_specs">{product.type}</p>
        <p class="drink_specs">{product.cl} cl</p>
        <p class="drink_specs">{product.percent}%</p>
      </div>
      <img src={product.img} alt="productimage" />
    </section>
  </section>
</Layout>

<!-- <article>
    <img src={product.img} alt="productimage" />
    <h4>{product.percent}%</h4>
    <p class="price">kr. {product.price},-</p>
    <p class="market_price">kr. {product.market_price},-</p>
  </article> -->

<style>
  /* FONTE */
  .details_stk {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 1rem 0;
  }

  .details_price {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 1rem 0;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .vejl {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
  }

  .info {
    margin-top: 2rem;
  }

  .colorfix {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .details_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #16332d;
    margin: 0 auto;
    min-height: 100vh;
  }

  .details_grid_2fr {
    grid-column: 1 / 2;
    color: #f9f9f6;
     padding: 60px 31px 60px 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .details_grid_1fr {
    grid-column: 2 / 3;
    background-color: #f9f9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
  }

  .bliblop {
    display: inline-flex;
    width: 198px;
    height: 59px;
    border: 2px solid #ccc;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
  }

  .bliblop p {
    margin: 0;
  }
  
  .container {
    display: flex;
    gap: 15px;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    align-items: center;
  }

  .details_price_section {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 2rem;
  }

  .price-option {
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease;
    background-color: transparent;
    border: 2px solid #ccc;
    color: inherit;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .price-option.is-active {
    background-color: #d4dfdf;
    border-color: #d4dfdf;
    color: #16332d;
  }

  .drink_specs_div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 2rem 0;
    margin-right: 20px;
  }

  .drink_specs {
    border-radius: 7px;
    background: #d4dfdf;
    height: fit-content;
    width: fit-content;
    padding: 6px;
    margin-bottom: 10px;
    color: #16332d;
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    object-position: center;
    margin-top:-100px;
    display: block;
  }

  svg {
    max-width: 100%;
    height: auto;
    margin-right: 250px;
  }

</style>
<script>
  const options = document.querySelectorAll(".price-option");

  options.forEach((option) => {
    option.addEventListener("click", () => {
      // Fjern 'is-active' fra alle kasser
      options.forEach((opt) => opt.classList.remove("is-active"));

      // Tilføj 'is-active' til den kasse der blev klikket på
      option.classList.add("is-active");
    });
  });
</script>
