---
//@ts-nocheck
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const endpoint = "https://tugawxiltrjylrrkyipn.supabase.co/rest/v1/products";
  const options = {
    headers: {
      apikey: "sb_publishable__6zAgnY-J0PumwueqpD5qA_eF8nRnHo",
    },
  };
  const response = await fetch(endpoint, options);
  const data = await response.json();

  return data.map((product) => {
    return {
      params: { id: product.handle },
      props: { product },
    };
  });
}

const { product } = Astro.props;
---

<Layout>
  <section class="details_grid">
    <section class="details_grid_2fr">
      <article>
        <div>
          <h1>{product.name}</h1>
          <h2>{product.percent}% {product.type}</h2>
          <p>{product.best_before}</p>
        </div>
        <div class="details_price_section">
          <!-- Vi tilføjer 'price-option' og en 'is-active' som standard på den første -->
          <div class="price_box price-option is-active">
            <p class="details_stk">1 stk</p>
            <p class="details_price">{product.price} DKK/stk</p>
            <p class="details_market_price vejl">
              <span class="strikethrough">{product.market_price}</span> (vejl. markedspris)
            </p>
          </div>

          <div class="price_box2 price-option">
            <p class="details_stk">6 stk</p>
            <p class="details_price">{product.price * 6} DKK Total</p>
            <p class="details_market_price vejl">
              {(product.price * 0.8).toFixed(2)} DKK/stk
            </p>
          </div>
        </div>

        <!--  <div class="details_price_section">
          <div class="price_box">
            <p class="details_stk">1 stk</p>
            <p class="details_price">{product.price}/stk</p>
            <p class="details_market_price">{product.market_price}</p>
          </div>
          <div class="price_box2">
            <p class="details_stk">6 stk</p>
            <p class="details_price">{product.price * 6}/stk</p>
            <p class="details_market_price">{product.market_price * 6}</p>
          </div> -->
        <div class="container">
          <div class="bliblop">
            <p>-</p>
            <p>1</p>
            <p>+</p>
          </div>
          <Button text="LÆG I KURV" variant="laeg-i-kurv" />
        </div>
      </article>
      <div class="info">
        <h3>Information:</h3>
        <p>{product.description}</p>
      </div>
    </section>
  </section>
  <section class="details_grid_1fr">
    <div class="drink_specs_div">
      <p class="drink_specs">Untappd rating: {product.rating}</p>
      <p class="drink_specs">{product.type}</p>
      <p class="drink_specs">{product.cl} cl</p>
      <p class="drink_specs">{product.percent}</p>
    </div>
    <img src={product.img} alt="productimage" />
  </section>
</Layout>

<!-- <article>
    <img src={product.img} alt="productimage" />
    <h4>{product.percent}%</h4>
    <p class="price">kr. {product.price},-</p>
    <p class="market_price">kr. {product.market_price},-</p>
  </article> -->

<style>
  /* FONTE */
  .details_stk {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 1rem 0;
  }
  .details_price {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 1rem 0;
  }
  .strikethrough {
    text-decoration: line-through;
  }
  .vejl {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
  }
  .info {
    margin-top: 2rem;
  }

  .details_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #16332d;
  }
  .details_grid_2fr {
    grid-column: 1/2;
  }
  .details_grid_1fr {
    grid-column: 2/3;
    background-color: #f9f9f6;
  }

  .details_grid_2fr {
    color: #f9f9f6;
    padding: 31px;
  }

  .bliblop {
    display: flex;
    width: 198px;
    height: 59px;
    border: 2px solid #ccc;
    align-items: center;
    justify-content: center;
    gap: 16px; /* space between -, 1, + */
    justify-content: space-around;
  }

  .container {
    display: flex;
    gap: 15px;
    margin-top: 1rem;
  }
  .details_price_section {
    display: flex;
    margin-top: 2rem;
  }
  .price-option {
    margin: 0 18px 15px 0;
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s ease;
    background-color: transparent;
    border: 2px solid #ccc;
    color: inherit;
    width: 300px;
  }

  .price-option.is-active {
    background-color: #d4dfdf;
    border-color: #d4dfdf;
    color: #16332d;
  }
</style>
<script>
  const options = document.querySelectorAll(".price-option");

  options.forEach((option) => {
    option.addEventListener("click", () => {
      // Fjern 'is-active' fra alle kasser
      options.forEach((opt) => opt.classList.remove("is-active"));

      // Tilføj 'is-active' til den kasse der blev klikket på
      option.classList.add("is-active");
    });
  });
</script>
